.details-wrapper {
  padding: 0 10%;
  margin: 0 auto;
}

.back-button {
  padding: 10px 20px;
  margin: 50px 0;
}

.fa-long-arrow-alt-left {
  margin-right: 10px;
}

.details-container {
  display: flex;
  align-items: center;
}

.flag,
.details-div {
  width: 50%;
}

.flag {
  -webkit-box-shadow: 0px 0px 5px -1px #000000;
  box-shadow: 0px 0px 5px -1px #000000;
  margin-right: 50px;
}

.country-name {
  margin-bottom: 50px;
}

.details {
  display: flex;
  margin-bottom: 50px;
}

.details-1,
.details-2 {
  width: 50%;
}

.borders-container {
  display: flex;
  align-items: center;
}

.border-title {
  font-weight: 700;
}

.border-btn {
  margin: 5px;
  padding: 5px 10px;
}

@media (max-width: 1200px) {

  .country-name,
  .details {
    margin-bottom: 20px;
  }

  .details {
    display: block;
  }

  .details-1,
  .details-2 {
    width: 100%;
  }

  .borders-container {
    display: block;
    align-items: center;
  }
}

@media (max-width: 1000px) {
  .details-container {
    display: block;
  }

  .flag,
  .details-div {
    width: 100%;
  }

  .flag {
    margin-bottom: 30px;
  }
}